

body {
  background: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  height:100vh;
  
}
.card{

  opacity: 0.9;
}



